.main {
    height: 60px;
    background: cadetblue;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}

.active {
    background: #ff3251;
    height: 60px;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}