

.image {
    border-radius: 40px;
    width: 100%;
    height: 60vh;
}

/*.content {
    grid-area: content;
    border-radius: 40px;
}*/

.posts {
    background-color: #FFD36E;
    border-radius: 40px;
    margin-top: 10px;
}