
.header {
    grid-area: header;
    border-radius: 40px;
    font-family: 'RenogareSoft-Regular';
    padding-top: 20px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 40px;
    color: #17323e
}

.logo {
    margin-left: 10px;
    color: #ff3251;
    text-decoration: none;
    font-weight: bold;
}
