.dialogs {
    border-radius: 40px;
    background: #b1b1ee;
    padding-top: 2em;
    padding-left: 2em;
    color: black;
    font-weight: bold;
    padding-bottom: 2em;
    min-height: calc(100% - 60px);
}

.users {
    border-radius: 40px;
    background: #8989e7;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 100px;
}

.title {
    font-size: 30px;
}

.user {
    font-size: 20px;
    padding-top: 20px;
    display: list-item;
    margin-left: 20px;
}

.content {
    display: flex;
    gap: 50px;
}

.messages {
    border-radius: 40px;
    background: #8989e7;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 200px;
}

.message {
    font-size: 15px;
    padding-top: 20px;
}
